main{
    margin: 2em 0;
}

img {
    width: 70%;
}

.main-ctn-btn {
    width: 25%;
    height: 2.3em;
    background-color: #274156;
    color: white;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}