.product {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid#E3E3E3;
}

[name="txtQuantity"] {
    width: 7em;
}

.btn-remove {
    background-color: #274156;
    color: white;
    border-radius: 5px;
    width: 5.5em;
}

.summary {
    background-color: #274156;
    border-radius: 10px;
    color: white;
    height: 220px;
    padding: 1em 1em;
}

.btn-buy-more {
    background-color: white;
    color: black;
    width: 45%;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 600;
    height: 2.2em;
}

.btn-checkout {
    background-color:#F38300;
    border-radius: 10px;
    width: 45%;
    color: white;
    font-size: 19px;
    font-weight: 600;
    height: 2.2em;
}

.summary span {
    font-size: 1.5em;
    font-weight: 500;
}