/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2021, 12:28:56 PM
    Author     : Admin
*/

.userinfo {
    padding-top: 26px;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    padding-right: 34px;
}

#avainfo{
    padding:0;
    margin-top: 25px;
    width: 138px;
    height: 138px;
    background-size: 138px, 138px;
    background-clip: content-box;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
}

#addressinfo {
    height: 130px;
}

#lastrow{
    margin-bottom: 55px;
    width: 1440px;
}


#userid {
    font-size: 19px;
    font-weight: 500;
    padding:0;
}

.infor > *{
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: #9FA2B4;
}

.infor {
    margin-bottom: 12px;
    margin-left: 32px;
}

input.editbox:focus{
    outline-width: 0;
}

select:focus{
    outline-width: 0;
}

.editbox{
    width: 690px;
    height: 52px;
    border-radius: 8px;
    margin-top: 18px;
    border: 0.5px #DFE0EB solid;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 600;
    padding-right:10px;
}

.back {
    cursor: pointer;
}

.lastrow{
    margin-bottom: 55px;
    width: 1440px;
}

.orderdet-header{
    font-size: 19px;
    font-weight: 500;
    padding:0;
}