.wrapper {
    border: 1px #E3E3E3 solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

.searchbar {
    border: 1px solid #E3E3E3;
    border-radius: 20px;
    margin: 1.5% auto;
    padding: auto;
    background-color: #F5F5F5;
}

.searchbar:focus-within {
    border-color: #274156;
}

.search-input {
    border: none;
    background-color: #F5F5F5;
}

.search-input::placeholder {
    color: #828282;
    font-size: 13px;
}

input.search-input:focus, button:focus {
    outline-width: 0;
}

#search-button {
    border: none;
    background-color: transparent;
}

.searchbar {
    display: flex;
}

.nav-item {
    margin-left: auto;
    margin-right: auto;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 130%;
}

.header-sign-in {
    background: #274156;
    box-shadow: 0px 3px 7px rgba(39, 65, 86, 0.15);
    border-radius: 30px;
    color: white;
}

.footer-wrapper {
    background: #274156 !important;
    color: white;
    font-size: small;
}

footer h3 {
    font-size: medium;
}

.footer-column {
    padding: 30px 0 10px 7%;
}

.footer-row-1 {
    border-bottom: white 1px solid;
}

.footer-row-2 {
    text-align: center;
    padding-top: 20px;
}

.droplist {
    width: 23em;
    border: 1px solid #274156;
    border-radius: 10px;
    padding: 0.5em 1em;
    z-index: 4;
    position: absolute;
    right: 22%;
    top: 10%;
    display: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #274156;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
}

.droplist-btn {
    padding: 10px;
}

.droplist-btn:hover{
    background-color: #E3E3E3;
    border-radius: 10px;
}

.droplist-avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #274156;
    border-radius: 50%;
}

.droplist-btn-txt {
    margin-left: 1em;
}

.droplist-btn-txt h6 {
    font-size: 20px;
    font-weight: 600;
}

.show {
    display: block;
}

#logo{
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    color: #1D1C1F;
}